<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">App Colegio</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('homepage') }}">Inicio</a></li>                
            {% if is_granted('ROLE_ADMIN') %}    
                <li><a href="{{ path('admin-perfil') }}">Perfil</a></li>
            {% elseif is_granted('ROLE_DOCENTE') %}
                <li><a href="{{ path('docente-perfil') }}">Perfil</a></li>
            {% endif %}    
                
            {% if is_granted('ROLE_ADMIN') %}    
                <li><a href="{{ logout_path('admin') }}">Salir</a></li>
            {% elseif is_granted('ROLE_DOCENTE') %}
                 <li><a href="{{ logout_path('docente') }}">Salir</a></li>
            {% elseif is_granted('ROLE_ESTUDIANTE') %}
                <li><a href="{{ path('estudiante-perfil') }}">Perfil</a></li>
                <li><a href="{{ logout_path('estudiantes') }}">Salir</a></li>
             {% elseif is_granted('ROLE_ACUDIENTE') %}
                <li><a href="{{ path('acudientes-perfil') }}">Perfil</a></li>
                <li><a href="{{ logout_path('acudientes') }}">Salir</a></li>
            {% endif %}
            </ul>
        </div>
    </div>
</nav>

