{% extends "dashboard.html.twig" %}

{% block body %}
<div class="col-lg-6">
    <h1>Tipos de faltas</h1>

    <table  class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripción</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for tipoFaltum in tipoFaltas %}
            <tr>
                <td><a href="{{ path('tipofalta_show', { 'id': tipoFaltum.id }) }}">{{ tipoFaltum.id }}</a></td>
                <td>{{ tipoFaltum.descripcion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tipofalta_show', { 'id': tipoFaltum.id }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('tipofalta_edit', { 'id': tipoFaltum.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a href="{{ path('tipofalta_new') }}">Crear nuevo tipo de falta</a>
</div>
{% endblock %}
