{% extends "dashboard.html.twig" %}

{% block body %}
    <div class="col-lg-6">
        <h1>Tipos de Faltas</h1>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ tipoFaltum.id }}</td>
                </tr>
                <tr>
                    <th>Descripción</th>
                    <td>{{ tipoFaltum.descripcion }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('tipofalta_index') }}">Volver</a>
        <br>
        <a href="{{ path('tipofalta_edit', { 'id': tipoFaltum.id }) }}">Editar</a>
        {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Eliminar">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
