{% extends "dashboard.html.twig" %}

{% block body %}
<div class="col-lg-6">
    <h1>Docente list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Primernombre</th>
                <th>Segundonombre</th>
                <th>Primerapellido</th>
                <th>Segundoapellido</th>
                <th>Fechanacimiento</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for docente in docentes %}
            <tr>
                <td><a href="{{ path('docente_show', { 'id': docente.id }) }}">{{ docente.id }}</a></td>
                <td>{{ docente.primerNombre }}</td>
                <td>{{ docente.segundoNombre }}</td>
                <td>{{ docente.primerApellido }}</td>
                <td>{{ docente.segundoApellido }}</td>
                <td>{% if docente.fechaNacimiento %}{{ docente.fechaNacimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('docente_show', { 'id': docente.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('docente_edit', { 'id': docente.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('docente_new') }}">Create a new entry</a>
        </li>
    </ul>
</div>
{% endblock %}
