{% extends "dashboard.html.twig" %}

{% block body %}
<div class="col-lg-12">
    <h1>Lista de docentes</h1>
 <ul>
        <li>
            <a href="{{ path('docente_new') }}">Crear un nuevo docente</a>
        </li>
    </ul>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Primer nombre</th>
                <th>Segundo nombre</th>
                <th>Primer apellido</th>
                <th>Segundo apellido</th>
                <th>Fecha nacimiento</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
        {% for docente in docentes %}
            <tr>
                <td><a href="{{ path('docente_show', { 'id': docente.id }) }}">{{ docente.id }}</a></td>
                <td>{{ docente.primerNombre }}</td>
                <td>{{ docente.segundoNombre }}</td>
                <td>{{ docente.primerApellido }}</td>
                <td>{{ docente.segundoApellido }}</td>
                <td>{% if docente.fechaNacimiento %}{{ docente.fechaNacimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('docente_show', { 'id': docente.id }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('docente_edit', { 'id': docente.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
</div>
{% endblock %}
