{% extends "dashboard.html.twig" %}

{% block body %}
<div class="col-lg-6">
    <h1>Docente</h1>

    <table  class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ docente.id }}</td>
            </tr>
            <tr>
                <th>Primernombre</th>
                <td>{{ docente.primerNombre }}</td>
            </tr>
            <tr>
                <th>Segundonombre</th>
                <td>{{ docente.segundoNombre }}</td>
            </tr>
            <tr>
                <th>Primerapellido</th>
                <td>{{ docente.primerApellido }}</td>
            </tr>
            <tr>
                <th>Segundoapellido</th>
                <td>{{ docente.segundoApellido }}</td>
            </tr>
            <tr>
                <th>Fechanacimiento</th>
                <td>{% if docente.fechaNacimiento %}{{ docente.fechaNacimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('docente_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('docente_edit', { 'id': docente.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
