{% extends "dashboard.html.twig" %}

{% block body %}
    <div class="col-lg-6">
        <h1>Editar falta</h1>

        {{ form_start(edit_form) }}
        <div style="display:none;">{{ form_row(edit_form.docente) }}</div>
        {{ form_widget(edit_form) }}
        <input class="btn btn-primary" type="submit" value="Editar" />
        {{ form_end(edit_form) }}

        {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Eliminar">
        {{ form_end(delete_form) }}
        <br>

        <a href="{{ path('docentes_falta_index') }}">Volver</a>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        var usuario = "{{ app.user.id }}";
        console.log(usuario);
        $("#falta_docente").val(usuario);
    </script>
{% endblock %}  