{% extends "dashboard.html.twig" %}

{% block body %}
    <div class="col-lg-6">
        <h1>Editar Estudiante</h1>

        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-primary" type="submit" value="Editar" />
        {{ form_end(edit_form) }}

        {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Eliminar">
        {{ form_end(delete_form) }}

        <a href="{{ path('estudiante_index') }}">Volver</a>

    </div>
{% endblock %}
