{% extends "dashboard.html.twig" %}

{% block body %}
<div class="col-lg-6">
    <h1>Lista de estudiantes</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Primer nombre</th>
                <th>Segundo nombre</th>
                <th>Primer apellido</th>
                <th>Segundo apellido</th>
                <th>Fecha nacimiento</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for estudiante in estudiantes %}
            <tr>
                <td><a href="{{ path('estudiante_show', { 'id': estudiante.id }) }}">{{ estudiante.id }}</a></td>
                <td>{{ estudiante.primerNombre }}</td>
                <td>{{ estudiante.segundoNombre }}</td>
                <td>{{ estudiante.primerApellido }}</td>
                <td>{{ estudiante.segundoApellido }}</td>
                <td>{% if estudiante.fechaNacimiento %}{{ estudiante.fechaNacimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('estudiante_show', { 'id': estudiante.id }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('estudiante_edit', { 'id': estudiante.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('estudiante_new') }}">Crear un nuevo estudiante    </a>
        </li>
    </ul>
</div>
{% endblock %}
