{% extends "dashboard.html.twig" %}

{% block body %}

<div class="col-lg-12">
    <h2>Faltas</h2>
    <table class="table table-bordered">
      <thead>
       <tr>
        <th>Código.</th>
        <th>Falta</th>
        <th>Descripción</th>
        <th>Docente</th>
        <th>Fecha</th>
        <th>Respuesta</th>
    </tr>
</thead>
<tbody>
   {% for falta in faltas %}
   {% for acudiente in falta.estudiante.acudientes if acudiente.acudiente.id == usuario.id %}
   <tr>
      <td>{{ falta.id }}</td>
      <td>{{ falta.estudiante }} 	    					
      </td>
      <td>{{ falta.descripcion }}</td>
      <td>{{ falta.docente }}</td>
      <td>{{ falta.fechaCreacion|date('d-M-Y H:i:s') }}</td>
      <td>
        <a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myModal-{{ falta.id }}"><i class="fa fa-edit"></i></a>
        <div class="modal fade" id="myModal-{{ falta.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Responder a falta</h4>
            </div>
            <div class="modal-body">
                <strong>Docente:</strong> {{ falta.docente }} <br/>
                <strong>Descripción falta:</strong> {{ falta.descripcion }} <br/>
                <input type="hidden" id="estudiante-{{ falta.id }}" value="{{ falta.estudiante.id }}">
                <textarea {% if falta.respuesta != null or falta.respuesta != "" %}disabled{% endif %} id="respuesta-{{ falta.id }}" rows="4" placeholder="Por favor háganos saber que opina de esta situación...">{{ falta.respuesta }}</textarea>
                <button class="btn btn-success {% if falta.respuesta != null or falta.respuesta != '' %}disabled{% endif %}" 
                {% if falta.respuesta == null or falta.respuesta == '' %}
                onclick="this.disabled=true; enviarRespuesta({{falta.id }}, this)"
                {% endif %}    
                >Enviar respuesta</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>
</td>
</tr>
{% endfor %}
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    function enviarRespuesta(idFalta, control){
        var respuesta = $('#respuesta-'+idFalta).val();
        var estudiante = $('#estudiante-'+idFalta).val();

        $(control).text("Enviando...");
        if(respuesta.length < 20){
            alert("Su respuesta es muy corta, por favor denos más información.");
            $(control).removeAttr("disabled");
            $(control).text("Enviar respuesta");
            $('#respuesta-'+idFalta).focus();
            return false;
        }else{
            $('#respuesta-'+idFalta).attr("disabled","disabled");
            $(control).text("Enviado");
            //$(control).removeAttr("disabled");
            $(control).addClass("disabled");
            enviar(idFalta, respuesta, estudiante);
        }
    }


    function enviar(idFalta, mensaje, estudiante){
        var ruta = "{{ path('agregar-respuesta') }}";
        var settings = {
          "url": ruta,
          "method": "POST",
          "data": {
            "falta": idFalta,
            "mensaje": mensaje,
            "estudiante": estudiante
        }
    }

    $.ajax(settings).done(function (response) {
      console.log(response);
       alert("Hemos recibido su respuesta.");
  });
}
</script>
{% endblock %}