{% extends "dashboard.html.twig" %}

{% block body %}
    <div class="col-lg-6">
    <h1>EstadosFaltas list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for estadosFalta in estadosFaltas %}
            <tr>
                <td><a href="{{ path('administrador_estadosfaltas_show', { 'id': estadosFalta.id }) }}">{{ estadosFalta.id }}</a></td>
                <td>{{ estadosFalta.descripcion }}</td>
                <td>{% if estadosFalta.estado %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('administrador_estadosfaltas_show', { 'id': estadosFalta.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('administrador_estadosfaltas_edit', { 'id': estadosFalta.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('administrador_estadosfaltas_new') }}">Create a new entry</a>
        </li>
    </ul>
    </div>
{% endblock %}
