{% extends "dashboard.html.twig" %}

{% block body %}
<div class="col-lg-6">
    <h1>Lista de acudientes</h1>

    <table  class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Primer nombre</th>
                <th>Segundo nombre</th>
                <th>Primer apellido</th>
                <th>Segundo apellido</th>
                <th>Fecha nacimiento</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for acudiente in acudientes %}
            <tr>
                <td><a href="{{ path('acudiente_show', { 'id': acudiente.id }) }}">{{ acudiente.id }}</a></td>
                <td>{{ acudiente.primerNombre }}</td>
                <td>{{ acudiente.segundoNombre }}</td>
                <td>{{ acudiente.primerApellido }}</td>
                <td>{{ acudiente.segundoApellido }}</td>
                <td>{% if acudiente.fechaNacimiento %}{{ acudiente.fechaNacimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('acudiente_show', { 'id': acudiente.id }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('acudiente_edit', { 'id': acudiente.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('acudiente_new') }}">Crear nuevo acudiente </a>
        </li>
    </ul>
</div>
{% endblock %}
