{% extends "dashboard.html.twig" %}

{% block body %}
<div class="col-lg-6">
    <h1>Acudiente</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ acudiente.id }}</td>
            </tr>
            <tr>
                <th>Primernombre</th>
                <td>{{ acudiente.primerNombre }}</td>
            </tr>
            <tr>
                <th>Segundonombre</th>
                <td>{{ acudiente.segundoNombre }}</td>
            </tr>
            <tr>
                <th>Primerapellido</th>
                <td>{{ acudiente.primerApellido }}</td>
            </tr>
            <tr>
                <th>Segundoapellido</th>
                <td>{{ acudiente.segundoApellido }}</td>
            </tr>
            <tr>
                <th>Fechanacimiento</th>
                <td>{% if acudiente.fechaNacimiento %}{{ acudiente.fechaNacimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('acudiente_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('acudiente_edit', { 'id': acudiente.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
